<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcPZyW0btc-9XT9KR-r7D77iVloAz7MSM</string>
	<key>GCM_SENDER_ID</key>
	<string>534171602278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nexus-challenge3</string>
	<key>PROJECT_ID</key>
	<string>nexus-cc983</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-cc983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534171602278:ios:60a3118eb1d2f471378ca7</string>
</dict>
</plist>